In [1]:
import pandas as pd
import numpy as np

In [2]:
agri = pd.read_excel('Agri_analysis.xlsx',sheet_name='clean_data', skiprows=[0,1,3],
                     usecols=['Market Center','Arrivals(in tonnes)','Variety','Maximum Prices(in Rs/quintals)'])
agri = agri.rename(columns={'Market Center':'Market','Arrivals(in tonnes)':'Qty (tonnes)',
                     'Variety':'Crop_variety','Maximum Prices(in Rs/quintals)':'Prices (Rs/quintals)'})
agri = agri.dropna(subset=['Market'])
agri.index = pd.RangeIndex(start=0, stop=agri.shape[0], step=1)

agri['Crop']=np.nan
agri['State']=np.nan

ordered_columns = ['Crop','Crop_variety','Market','State','Qty (tonnes)','Prices (Rs/quintals)']
agri = agri.reindex(columns=ordered_columns)

In [4]:
def get_crop_state(df):
    i = 0
    agri = df
    while i in range(agri.shape[0]):
        if pd.isnull(agri.loc[i,'Prices (Rs/quintals)']):
            if pd.isnull(agri.loc[i+1,'Prices (Rs/quintals)']):
                agri.loc[i+2,'Crop'] = agri.loc[i,'Market']
                agri = agri.drop(i)
            else:
                agri.loc[i+1,'State'] = agri.loc[i,'Market']
                agri = agri.drop(i)
        i += 1
        agri.index = pd.RangeIndex(start=1, stop=agri.shape[0]+1, step=1)
    agri.loc[:,['Crop','State']] = agri.loc[:,['Crop','State']].ffill()
    agri = agri.dropna(subset=['Crop_variety'])
    return agri

In [5]:
agri_neat = get_crop_state(agri)
agri_neat

,Crop,Crop_variety,Market,State,Qty (tonnes),Prices (Rs/quintals)
1,Bajra(Pearl Millet/Cumbu),Hybrid,Amreli,Gujarat,2.7,1530
2,Bajra(Pearl Millet/Cumbu),Other,Becharaji,Gujarat,0.3,1310
3,Bajra(Pearl Millet/Cumbu),Other,Bhiloda,Gujarat,1.5,1500
4,Bajra(Pearl Millet/Cumbu),Other,Botad,Gujarat,19.4,1525
5,Bajra(Pearl Millet/Cumbu),Hybrid,Chotila,Gujarat,4.15,1850
...,...,...,...,...,...,...
870,Wheat,Sonalika,Kasimbazar,West Bengal,29,2100
871,Wheat,Sonalika,Khatra,West Bengal,1.2,1950
872,Wheat,Sonalika,Lalbagh,West Bengal,0.8,1860
873,Wheat,Sonalika,Rampurhat,West Bengal,9.7,1950
874,Wheat,Sonalika,Sainthia,West Bengal,9.5,1950